img{max-width:100%;}


body{ 
    background-color: #e9ecef;
    font-family: 'IBM Plex Mono';
    font-size:15px;
    line-height:1.5;
}

a:link {
    color: #36587d
}

a:visited {
    color: #81878d
}

#maincontent
{
max-width:42em;margin:15 auto;
    
}
